# Игнорировать виртуальное окружение Python
venv/

# Игнорировать скомпилированные файлы Python
*.pyc

# Игнорировать файлы, созданные пользователем (например, логи, временные файлы)
__pycache__/
*.log
*.tmp

# Игнорировать файлы, содержащие конфиденциальную информацию (например, пароли)
.secret

# Игнорировать кэш и временные файлы текстового редактора Vim
*.swp
*.swo
